/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", sans-serif;
    background-color: #0fb7d4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Contenedor general */
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    background-color: #0077cc;
    color: rgb(24, 201, 224);
    padding: 20px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Layout de película */
  .movie-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .poster {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Secciones */
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #e0ee62;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  /* Aside */
  aside {
    background-color: #1ccc97;
    padding: 15px;
    border-left: 5px solid #22c7d3;
    margin-bottom: 30px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: rgb(34, 181, 192);
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
  }
  
  /* Responsive */
  @media (min-width: 768px) {
    .movie-layout {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .poster {
      margin-right: 20px;
    }
  }
  #contacto {
    margin-bottom: 40px;
  }
  
  form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  form fieldset {
    border: none;
    margin-bottom: 15px;
  }
  
  form legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1em;
  }
  
  form button {
    background-color: #2340e6;
    color: rgb(226, 223, 51);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }
  
  form button:hover {
    background-color: #0916d3;
  }
  